/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- RESPONSIVE DESIGN --------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width:768px) or (orientation: landscape) {

    .header__imgs{
        top: 245px;
    }
}















@media (min-width:980px) { 
    /* ----------------------------------------------------------------- */
    /* --------------------------------------------RESPONSIVE DEL HEADER */
    /* ----------------------------------------------------------------- */

    /* ----------------------REORDENO EL GRID DEL HEADER*/
    .header__gridContainer{
        background-color: $primary-color;
        grid-template-rows: auto auto;
        grid-template-columns: 1.2fr 2fr;
        grid-template-areas: 
            "headerInfo     headerImgs"
            "headerButtons  headerImgs";
        margin-bottom: 150px;
        row-gap: 2%;
    }

    /* ----------------------OCULTAR BOTON DE MENU*/
    i#menu{
        display: none;
    }

    /* ----------------------MOSTRAR NAV*/
    .header__menu{
        display: block;
    
    }

    /* ----------------------MOSTRAR BOTON DE BUSCAR*/
    .header__searchButton{
        display: block;
    }

    /* --------------AJUSTAR BARRA DE BUSQUEDA*/
    .header__searchBar{
        width: 85%;
        order: 5;
        margin-right: 2%;
        padding: 5px 0;
    }

    /* ----------------------MOSTRAR BOTON DE LOGIN*/
    .header__loginButton{
        display: block;
    }

    /* --------------AJUSTAR PARTE FIJA DEL HEADER*/
    .header__fixed{
        padding: 5px 10% 5px 10%;

    }

    /* ------------------AJUSTAR TEXTO DEL HEADER*/
    .header__info{
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-top: 108px;
        padding: 2% 0;
        padding-left: 10vw;
        height: 70%;
    }

    .header__info__tittle{
        text-align: left;

    }
    .header__info__p {
        text-align: left;
        font-size: 120%;
    }

    /* --------------AJUSTAR IMAGENES DEL HEADER*/
    .header__imgs{
        right: 10vw;
        width: 50%;
        #SillonGris{
            padding: 0;
        }
    }

    /* ------------AJUSTAR BOTONES BUYNOW Y EXPLORE*/
    .header__buttons{
        margin-top: 3%;
        padding: 1% 0 10% 0;
        padding-left: 10vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

    }

    .header__buyNowButton{
        margin: 1% 0;
        border:solid 1px #424b37;
        background-color: #424b37;
        color: white;
        font-weight:600;
    }
    
    .header__ExploreButton{
        width: 70%;
        margin: 1% 0;
        margin-left: 5%;
        border:solid 1px #fff;
        color: #fff;
        background-color: transparent;
        font-weight:600;
    }
    
    /* -------------------------BORDE DEL HEADER*/
    .header__waves{
    padding-top: 0;

    }

    /* ----------------------------------------------------------------- */
    /* ----------------------------------------------RESPONSIVE DEL MAIN */
    /* ----------------------------------------------------------------- */

     /* -------------------------INDEX*/
    .main__newArrivals{
        margin: 2% 10vw 10% 10vw;
    }

    .main__categories{
        margin: 2% 10vw 10% 10vw;
        
    }

    .main__categories__category{
        padding-bottom: 1%;
    }

    .index__tittle{
        font-size: 300%;
    }

     /* -------------------------AYUDA*/
    .main__helpContainer{
        margin: 2% 10vw 5% 10vw;
    }

    /* -------------------------SOBRE NOSOTROS*/
    .main__aboutUsContainer{
        padding: 2% 10vw;
    }

    /* -------------------------CONTACTO*/    
    .main__contactContainer{
        margin: 2% 10vw 5% 10vw;
    }

    /* -------------------------TEXTOS DEL MAIN*/ 
    main{
        &#index{
            h2{/* Titulos H2 */
                font-size: 400%;
            }         
        }
        &#sobreNosotros ,&#contacto, &#ayuda, &#furnitures{
            h1{/* Titulos H1 */
                font: $h1-tablet;
            }
            h2{
                font: $h2-tablet;
            }
        }     
    } 

    /* ----------------------------------------------------------------- */
    /* --------------------------------------------RESPONSIVE DEL FOOTER */
    /* ----------------------------------------------------------------- */
    
    /* --------------------------REORDENAR GRID DEL FOOTER*/
    .footer__gridContainer{
        padding: 2% 10%;
        font-size: medium;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "socialNetworks     payments    footerInfo     newsLetter";
        align-items: stretch;
        grid-gap: 1%;
    }

    /* --------------------------ESTILOS DEL FOOTER*/
    footer{
        section{
            div{
                border: none;
                border-right: solid 1px rgb(255, 255, 255);   
            }
        }
    }

    .footer__newsLetter{
        border: none;
    }
}















/* -----------------------PEQUEÑOS AJUSTES EN OTRAS RESOLUCIONES*/
@media (min-width:1233px) {



    .header__info{
        height: 70%;
    }

    .index__tittle{
        font-size: 350%;
    }

    /* -------------------------TEXTOS DEL MAIN*/ 
    main{
        &#index{
            h2{/* Titulos H2 */
                font-size: 400%;
            }         
        }
        &#sobreNosotros ,&#contacto, &#ayuda, &#furnitures{
            h1{/* Titulos H1 */
                font: $h1-desktop;
            }
            h2{
                font: $h2-desktop;
            }
        }     
    } 

}


