.main__indexContainer{
        margin: $margin-mobile-container;
}


/* ----------------------------------------------------------------- */
/* --------------------------------------------SECCION DE DESTACADOS */
/* ----------------------------------------------------------------- */
.main__newArrivals{
    @include flexCenter(row);
    flex-wrap: wrap;
    height: auto;
}

.main__newArrivals__item{
    width: 9rem;
    height: 18rem;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "img    img"
        "info   price";
    margin: 1%;
    border: solid 1px #768561 ;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
        grid-area: img;
        @include size(100%, 100%);
    }
    &:hover{
        background-color: $primary-color;
        color: #fff;
    }
}

.main__newArrivals__item__info{
    grid-area: info;
    padding: 0.5%;
    justify-self: center;
    font-family: $font-family2;
}

.main__newArrivals__item__price{
    grid-area: price;
    padding: 0.5%;
    justify-self: center;
    font-family: $font-family2;
}

/* ----------------------------------------------------------------- */
/* --------------------------------------------SECCION DE CATEGORIAS */
/* ----------------------------------------------------------------- */
.main__categories{
    @include flexCenter(row);
    flex-wrap: wrap;
    @include size(auto, auto);
}

.main__categories__category{
    padding-bottom: 1%;
    width: 400px;
    margin: 2%;
    cursor: pointer;    
    color: $primary-color;
    &:hover{
        background-color: $primary-color;
        color: #fff;
    }
}

.main__categories__category__tittle{
    text-align: center;
    padding: 1%;
    font: $h3-mobile-index;
}

.main__categories__category__img{
    width: 100%;
}

/* ----------------------------------------------------------------- */
/* -----------------------------------------------------------TEXTOS */
/* ----------------------------------------------------------------- */
main#index{
     h2{
        font: $h2-mobile-index;
        margin: 20px 0 ;
        color: black;
        text-align: center;
        width: 100%; 
    }   
} 

.main__parrafos{
    text-align: justify;
    font-family: $font-family2;
    font-size: larger;
    margin-bottom: 40px;
}
